
# --- Dépendances ---
node_modules/
.pnp/
.pnp.js

# --- Tests ---
coverage/

# --- Production ---
build/

# --- Fichiers de configuration d'environnement ---
.env
.env.local
.env.*.local

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Système ---
.DS_Store

# --- Outils d'analyse (ex: SonarQube) ---
.scannerwork/
